a {
    text-decoration: none;
}
.country-details__section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 60px;
    padding: 50px 50px 0px 50px;
    width: 100%;
    height: 100%;
    background-color: var(--very-dark-blue-dark-mode-background);
}
.country-details__section.light {
    background-color: var(--very-light-gray-light-mode-background);
}
.home-link {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    gap: 8px;
    width: 94px;
    height: 30px;
    border-radius: 4px;
    color: white;
    font-size: 1rem;
    background-color: var(--dark-blue-dark-mode-elements);
}
.home-link.light {
    background-color: var(--white-dark-mode-text-light-mode-lements);
    box-shadow: 0px 0px 4px 0px rgb(176, 173, 173);
    color: var(--very-dark-blue-light-mode-text);
}
.home-link:hover {
    box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.75);
}
.home-link > img {
    width: 16px;
    filter: invert(100%) sepia(0%) saturate(7478%) hue-rotate(147deg) brightness(104%) contrast(97%);
}
.home-link > img {
    filter: invert(53%) sepia(62%) saturate(4%) hue-rotate(314deg) brightness(88%) contrast(95%);
}
.country {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 80px;
    max-width: 1200px;
    padding-bottom: 50px;
}
.country > figure {
    min-width: 300px;
    max-width: 460px;
    min-height: 200px;
    max-height: 280px;
}
.country > figure > img {
    width: 100%;
    height: 100%;
    min-width: 300px;
    max-width: 460px;
    min-height: 200px;
    max-height: 280px;
}
.country-detail > h1 {
    font-size: 2rem;
    color: white;
    font-weight: 700;
    margin-bottom: 16px;
}
.country-detail > h1.light {
    color: var(--very-dark-blue-light-mode-text);
}
.columns {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    margin-bottom: 40px;
}
.columns > div {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.columns > div > p {
    font-size: 1.2rem;
    font-weight: 300;
    color: var(--dark-gray-light-mode-input);
}
.columns > div > p.light {
    color: var(--very-dark-blue-light-mode-text);
}
.columns > div > p > span {
    color: white;
    font-weight: 700;
}
.columns > div > p > span.light {
    color: var(--very-dark-blue-light-mode-text);
}
.borders {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    font-size: 1.2rem;
    color: white;
    font-weight: 700;
}
.borders.light {
    color: var(--very-dark-blue-light-mode-text);
}
.borders > a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    padding: 0px 10px 0px 10px;
    height: 22px;
    border-radius: 4px;
    font-size: 0.9rem;
    color: white;
    font-weight: 300;
    background-color: var(--dark-blue-dark-mode-elements);
    cursor: pointer;
}
.borders > a.light {
    background-color: var(--white-dark-mode-text-light-mode-lements);
    box-shadow: 0px 0px 4px 0px rgb(176, 173, 173);
    color: var(--very-dark-blue-light-mode-text);
}
.borders > a:hover {
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
}